{% extends 'main/base.html' %}

{% block content %}
<div class="about">
  <h1>About this page</h1>

  <p>This is an very basic online app that scrapes rental properties from www.rent.com.au</p>

  <p>**The data scrapped is for personal, non-commercial use.**</p>

  <p>Below is the rent.com.au robots.txt file content:</p>

  <p>
    Check the repo at
    <a href="https://github.com/palvarezimaz/python-beautifulsoup-property-scraper">https://github.com/palvarezimaz/python-beautifulsoup-property-scraper
    </a>
  </p>

  <p>
    Visit my portfolio at <a href="https://www.pabloai.net">www.pabloai.net</a>
  </p>
</div>
{% endblock %}