{% extends 'main/base.html' %}

{% block content %}
<br />
<div class="index-intro">
  <p>Welcome The Rental Scrapper</p>


  <p>Please input a valid Australian Postal Code (ie 3085)</p>
  <form class="form" method="GET" action="">
    {{form.as_p}}
    <input class='submit-button' type="submit" value="Search!"/>
  </form>
</div>
<span class="divisor"></span>
<div>
  <ol>
    {% for property in props_dic %}
    <li>
      <a href="{{property.link}}">{{property.address}}</a>

      <p>Price: {{property.price}} AUD</p>
      <ul>
        <li>{{property.beds}}</li>
        <li>{{property.baths}} </li>
        <li>{{property.cars}} for cars</li>
      </ul>
      <img src="{{property.image}}">
    </li>

    {% endfor %}
  </ol>
</div>
{% endblock %}